PyYAML>=6.0.1
opencv-python>=4.8.0
pymavlink>=2.4.40
ultralytics>=8.1.0
lapx>=0.5.5          # Byte-Track algoritmasının stabil çalışması için gerekli
tensorrt>=8.6.0      # Kurulumu sistemdeki CUDA/cuDNN sürümüne göre değişiklik gösterebilir
numpy>=1.26.0
